body {
    background-color: rgb(248, 249, 250);
}

.logo {
    max-width: min(500px, 70vw);
}

#login input {
    margin: auto;
    margin-bottom: 5px;
    max-width: min(300px, 70vw);
}

#login label {
    margin: auto;
    text-align: left;
    display: block;
    max-width: min(300px, 70vw);
}

#login button {
    margin: 5px;
}